.calendarStatus{
    display:inline-flex;
    gap: 1.5rem;
    align-items: center;
}

.calendarStatus-date{
    font: var(--subtitle);
}

@media screen and (prefers-color-scheme: dark){
   .calendarStatus a:hover,
   .calendarStatus i:hover{
        color: var(--white);
    }
}