.hourCell{
    place-self: start end;
    transform: translateY(-50%);
    font: var(--body3-regular);
    padding-inline-end: 1rem;
    position: relative;
    white-space: nowrap;
}

.hourCell::before{
    content: '';
    inline-size: .5rem;
    block-size: .0625rem;
    background: currentColor;
    position: absolute;
    inset-inline-end: 0;
    inset-block-end: 50%;
}