.page{
    display:grid;
    grid-template-columns: 15.25rem 1fr;
    grid-template-rows: 6rem 1fr;
    block-size: 100vh;
    grid-template-areas: 'header header' 'sidebar calendar';
}

.page .header{
    grid-area: header;    
}

.page .sidebar{
    grid-area: sidebar;
    border: 2px solid orangered;
    
}

.page .calendar{
    grid-area: calendar;
    border: 2px solid green;
    
}