.select{
    border: 1px solid var(--gray20);
    padding-block: .5rem;
    padding-inline: .75rem;
    padding-inline-end: 2rem;
    border-radius: .25rem;
    font: var(--button);

    appearance: none;
    background-image: url(../icons/Icon=chevron-down.svg);
    background-repeat: no-repeat;
    background-position: right center;

}