.taskCell{
    border-inline-start: 1px solid currentColor; /* toma el color del elemento más cercano que haya heredado */
    border-block-end: 1px solid currentColor;
    padding:.25rem;
}

/* .taskCell:nth-child(8n){
    border-inline-end: 1px solid currentColor;
} */

.taskCell.is-active::before{
    content:'(Sin título)';
    font-size: small;
    background: #c6dafc;
    display: block;
    padding:.25rem;
    border-radius: .25rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}


@media screen and (prefers-color-scheme: dark){
    .taskCell p{
        color: var(--gray50);
    }
}