.timezoneCell{
    font: var(--body3-regular);
    position: sticky;
    inset-block-start: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-inline-end: 1rem;
    white-space: nowrap;
    
}

.timezoneCell::after{
    content: '';
    inline-size: .5rem;
    block-size: 0.0625rem;
    background: var(--gray20);
    position: absolute;
    inset-block-end: 0;
    inset-inline-end: 0;
}